
.inner{width:1280px;}

.clear:after{clear:both; display:block; content:'';}
.about {
  height: 100vh;
  background-color:var(--color-green);
  overflow-x:hidden;
  width: 100%;  
}

.about__inner{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  scroll-snap-type:y mandatory;
  overflow-y:scroll;}


#frame{
  width: 300px;
  height: 450px;
  transition:transform 200ms;
  scroll-snap-align: start;
}

#frame:hover{transform: scale3d(1.05, 1.05, 1.05);}

#card{
  width: 100%;
  height: 100%;
  border-radius: 9px;
  background-image: url("../assets/img/about1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  transition-duration: 250ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.text p{
  position:absolute;
  bottom:5%; left:0;
  height: 50%;
  width: 100%;
  z-index: 2;  
  padding:0 10%;
  font-size:1.3em;
  color:var(--color-black);
  line-height: 1.5;
  font-family: 'GmarketSansMedium';
}

#light{ 
    position:absolute;
    width: 100%;
    height:100%;
    border-radius:9px;
}


.cover p {
  margin-top: -20vh;
  color: var(--color-white);
  display: flex;  
  font-size: clamp(2vw, 8vw, 10vw);
	font-family: 'Denton Test ExtraBold';
  text-transform: uppercase;
  }


#navbar{
  position:fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 100;  
}


.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-family: 'OTWelcomeBA';
  
}
.navbar__logo a{display: block;
  color:var(--color-black);
  font-size: 2em;
	font-family: 'Denton Test ExtraBold';

}
.navbar__menu{
  display:flex;
}

.navbar__menu.open {
  display: block;
}

.navbar__menu__item{
  padding:8px 12px;
  margin:0 4px;
  cursor:pointer;
	font-family: 'Denton Test Medium';
  /* color:var(--color-dark-grey); */
  color:var(--color-black);
  font-size:1.2em;
  transition: background-size 0.2s ease-in;
  }

  .navbar__menu__item:hover{
    background-size: 100% 100%;   
    /* -webkit-text-stroke: 1px #2f2f2f; */
    -webkit-text-stroke: 1px var(--color-white);
    /* background-image: linear-gradient(0deg, #f9f7f1, #f9f7f1); */
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.1);
  }

  
	header {
		height: 200vh;
	}
	
	.container {
		clip: rect(0, auto, auto, 0);
		overflow: hidden;
		position: absolute;
		left: 0;
		height: 100vh; 
		width: 100%;   
		/* safari hack */
		-webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: var(--color-green);
	}
	
	.container_solid {

		top: 0;
	}
	
	.title__wrapper {
		position: fixed;
		display: block;  
		margin: auto;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.title__wrapper h1 {
		text-align: center;
		font-size: 4.8vw;
		text-transform: uppercase;
		text-align: center;
		font-weight: var(--weight-bold);
		font-family: 'Denton Test ExtraBold';
	}
	
	.container__solid .title__wrapper h1 { 
		background-clip: text;
		-webkit-background-clip: text;  
		/* fallback text color */
		color:  var(--color-black);
	}
	
	.container__image {
		background-color: var(--color-light-grey);
		top: 100vh;
	
	}
	
	.container__image .title__wrapper h1 {
		color: var(--color-white);
	}



  
.work ul li{width: 30%; margin-right: 5%; 	margin-bottom: 5%; float:left;
height: 48.61vw;
}

.work ul li:nth-child(3n){margin-right: 0;}
.work ul li img{width: 100%;}
.work__title{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: clamp(2vw, 8vw, 10vw);
		background-color: var(--color-white);
		height: 100vh;
		text-transform: uppercase;}
	
.work__title>h1{
			animation: bounce 0.5s ease-out alternate-reverse infinite;
			font-family: 'Denton Test ExtraBold';
}
		
@keyframes bounce {
			100% { transform: translateY(-20%); }
}
	
	
.work__content {
			width: 100%;
			height: 500vh;
			background-color:var(--color-green);
			padding:100px 100px;

}


.contact{
	background-color:var(--color-white);

}

.contact__title{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: clamp(2vw, 8vw, 10vw);
	height: 50vh;
	text-transform: uppercase;}

.contact__title>h1{
		animation: bounce 0.5s ease-out alternate-reverse infinite;
		font-family: 'Denton Test ExtraBold';
}


.contact .infor{
	width: 100%; height: 10vh;
	text-align:center;

}
.contact .infor ul li span{
	font-family: 'Denton Test ExtraBold';
}

@keyframes bounce {
		100% { transform: translateY(-20%); }
}


@media (max-width: 1100px){

}


@media (max-width: 950px){
  .work__content{padding:50px; height:250vh;}
	.work ul li{width:45%; margin-right: 10%;}
	.work ul li:nth-child(3n){margin-right: 10%;}
	.work ul li:nth-child(2n){margin-right: 0;}

	



}

@media (max-width: 650px){

}
@media (max-width: 560px){
  
}